*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    padding: 50px;
}

#hero1{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background-color: rgb(254, 51, 10);
    filter: blur(20px);
    position: absolute;
}

#hero2{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background-color: rgb(254, 51, 10);
    filter: blur(20px);
    position: absolute;
    animation: anime 3s linear delay infinite alternate;
}

@keyframes anime {
    from{
        transform: translate(-10%, -10%);
    }
    to{
        transform: translate(10%, 10%);
    }
}